html,body,div,span,nav,a,button,img,input,header,ul,li,select,option{
    box-sizing: border-box;
}
html, body, .main{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background: white;
    font-family: 'Roboto','sans-serif','Segoe UI', 'Tahoma', 'Geneva', 'Verdana';
    overflow-y: auto;
}

/* fonts */
.roboto{
    font-family: 'Roboto','sans-serif','Segoe UI', 'Tahoma', 'Geneva', 'Verdana'; 
}
.twelve{
    font-size: 12px;
}
.thirteen{
    font-size: 13px;
}
.fourteen{
    font-size: 14px;
}
.sixteen{
    font-size: 16px;
}
.eighteen{
    font-size: 18px;
}
.twenty{
    font-size: 20px
}
.twenty-four{
    font-size: 24px;
}
.sixty{
    font-size: 60px;
}

/* text */
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.white-text{
    color: white;
}
.dk-text{
    color: #3E474F;
}
.bold{
    font-weight: bold;
}
.medium{
    font-weight: 500;
}
.underline{
    text-decoration: underline;
}
.center-text{
    margin: auto;
    text-align: center;
}

/* colors */
.sub-title-color{
    color: #0C8BE8;
}
.dom-color{
    color: #0C8BE8;
}
.dark-theme{
    background: #3E474F;
}
.dom-color-bkg{
    background-color: #0C8BE8;
}
.bkg-color{
    background-color: #F4F4EF;
}
.white-bkg{
    background: white;
}
.dk-blue-bkg{
    background: #437192;
}
.green-bkg{
    background: #08C293;
}
.dk-green-text{
    color: #0A5B47;
}
.dk-gray{
    background: #9A9C9C;
}
.txt-ash-black{
    color: #707070;
}

/*images*/
svg{
    width: 20px;
    height: 14px;
}

/*widths*/
.onecol{
    width: 8.33%;
}
.twocol{
    width: 16.66%
}
.threecol{
    width: 25%;
}
.fourcol{
    width: 33.33%;
}
.fivecol{
    width: 41.67%;
}
.sixcol{
    width: 50%; 
}
.sevencol{
    width: 58.33%;
}
.eightcol{
    width: 66.67%;
}
.ninecol{
    width: 75%;
}
.tencol{
    width: 83.33%;
}
.elevencol{
    width: 91.67%;
}
.twelvecol{
    width: 100%;
}
.ten-percent{
    width: 10%;
}
.fifteen-percent{
    width: 15%;
}
.sixty-percent{
    width: 60%;
}
.seventy-percent{
    width: 70%;
}
.fit{
    width: fit-content;
}
.left-end-major{
    width: 80%;
}

/* height */
.height-fit{
    height: fit-content;
}
.full-height{
    height: 100%;
}
.vh100{
    height: 100vh;
}
.vh75{
    height: 75vh;
}
.h60{
    height: 60px;
}
.h50{
    height: 50px;
}

/* link */
.format-link{
    text-decoration: none;
    color: inherit;
}

/* padding */
.padding-5{
    padding: 5px;
}
.padding-10{
    padding: 10px;
}
.top-bottom-p10{
    padding: 10px 0;
}
.top-bottom-p5{
    padding: 5px 0;
}
.right-left-p10{
    padding: 0 10px;
}
.right-left-p5{
    padding: 0 5px;
}
.top-padding-5{
    padding-top: 5px;
}
.pad-under{
    padding-bottom: 20px;
}
.pad-top{
    padding-top: 20px;
}
.top-padding-45{
    padding-top: 45px;
}
.top-pad-15cent{
    padding-top: 15%;
}
.left-padding-10{
    padding-left: 10px;
}
.left-padding-75{
    padding-left: 75px;
}

/* margin */
.top-margin-10{
    margin-top: 10px;
}
.top-margin-15{
    margin-top: 15px;
}
.top-margin-20{
    margin-top: 20px;
}
.top-margin-25{
    margin-top: 25px;
}
.top-margin-45{
    margin-top: 45px;
}
.bottom-margin-45{
    margin-bottom: 45px;
}
.bottom-margin-35{
    margin-bottom: 35px;
}
.bottom-margin-20{
    margin-bottom: 20px;
}
.bottom-margin-15{
    margin-bottom: 15px;
}
.bottom-margin-10{
    margin-bottom: 10px;
}
.no-margin{
    margin: 0;
}
.margin-top{
    margin-top: 20px;
}
.margin-top40{
    margin-top: 40px;
}
.margin-under{
    margin-bottom: 20px;
}
.centered{
    margin: auto;
}

/* border */
.no-border{
    border: none;
}
.border-1{
    border: 1px solid #BCE0FD;
}

/* radius */
.radius-5{
    border-radius: 5px;
}

/* buttons */
.normal-btn{
    width: fit-content;
    padding: 10px;
    border: none;
    text-decoration: none;
}
.trans-btn {
    width: fit-content;
    padding: 0 10px;
    border: 2px solid;
    background: inherit;
    border-radius: 4px;
    text-decoration: none;
}

/* tables */
.table-header{
    background-color: #0c8be8;
    color: white;
}
tr:nth-child(even){
    background-color: #f2f2f2
}

/* list */
.no-li-style{
    list-style: none;
}

/* navigation */
.top-navbar{
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #0C8BE8;
    flex-wrap: wrap;
    padding: 0;
    z-index: 2;
}
.top-nav-list{
    margin-top: 0px;
}
.side-bar{
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 300px;
    min-width: 299px;
    left: 0;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    z-index: 1;
    background: #3E474F;
    padding-left: 5px;
}
.side-bar.open{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
}
.open{
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
}
.side-nav-list{
    list-style: none;
    margin: 0;
    padding-left: 15px;
}
.side-nav-btn{
    color: #dbe2e8;
    margin-bottom: 10%;
    letter-spacing: 5px;
}
.side-nav-btn:last-child{
    margin-top: 90px;
}
.highlighted{
    color: rgba(255, 255, 255, 0.5);
}

/* tabs */
.tab-container{
    padding: 15px 15px 0px 15px;
    overflow-y: hidden;
}
.tab {
    text-align: center;
    color: #3E474F;
    border-radius: 5px 5px 0px 0px;
    padding: 8px 5%;
    float: left;
    font-size: 14px;
    cursor: pointer;
    width: 33.3%;
    max-width: 96px;
}
.tab:hover{
    background: aliceblue;
}
.tab-main{
    color: #44A751;
    background: white;
    font-weight: bold;
}
.tab-position{
    background: #e7e8e9;
    position: initial;
    padding-top: 15px;
}

/* display */
.inline-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.block{
    display: block;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.left{
    float: left;
}
.right{
    float: right;
}
.off{
    display: none;
}
.right-end{
    float: right;
}

/* position */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.top10{
    top: 10px;
}

/* index */
.index-1{
    z-index: 1;
}
.index-2{
    z-index: 2;
}
.index-3{
    z-index: 3;
}

/* cursor */
.pointer{
    cursor: pointer;
}
.not-allowed{
    cursor: not-allowed;
}

/* others */
.logo-name{
    color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
    padding: 6px 0;
}
.menu-button{
    width: 30px;
    height: 29px;
    position: relative;
    top: 9px;
    color: white;
    background: inherit;
    border: 0;
    z-index: 2;
}
.menu-button:hover{
    cursor: pointer;
}
.menu-button-2{
    width: 20px;
    height: 17px;
    display: none;
}
.menu-button-2:hover{
    cursor: pointer;
}
.add-button{
    width: 25px;
    height: 25px;
}
.container{
    width: 100%;
}
.form-space{
    margin: auto;
}
.page-title{
    margin-bottom: 35px;
}
.password-field{
    height: 45px;
    width: 100%;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    box-shadow:  0 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 0 2%;
    margin-bottom: 20px;
}
.sign-in-button{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    box-shadow: 17px 15px 35px 0px rgba(0, 0, 0, 0.2);
}
.search-bar {
    height: 40px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    padding: 5px;
    box-shadow: 0px 1px 2px 1px gainsboro;
}
.cart-content {
    height: 55vh;
}
.products {
    width: 100%;
    height: 55vh;
    background: white;
    list-style: none;
    padding: 5px 2px 0 2px;
    overflow-y: scroll;
    border-style: inset;
    border: 1px solid gainsboro;
}
.main{
    background: inherit;
}
.main-shift{
    transform: translate(85%, 0);
    transition: transform 0.3s ease;
}
.head{
    width: 100%;
    background: inherit;
    position: sticky;
    top: 0;
}
.form-container{
    margin: 120px 4% 0 4%;
}
.error{
    color: red;
    margin-bottom: 30px;
}

/*customs*/
.lt-sp-5{
    letter-spacing: 5px;
    padding-top: 5px;
}
.a-t-c-btn {
    height: 35px;
    border-color: #0C8BE8;
    color: #0C8BE8;
}
.delta-up{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.delta-down{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.nav-icons{
    width: 40px;
    position: relative;
    top: 10px;
    margin-right: 10px;
    font-size: 32px;
}
.sm-gap{
    width: calc(100% - 7px);
}
.card{
    width: 108px;
    height: 88px;
    border-radius: 5px;
    margin: 14px;
    display: inline-block;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.card:last-child{
    padding-top: 27px;
    box-shadow: none;
}
.input-card{
    background: #CB5165;
}
.activity-card{
    background: #7571E5;
}
.lh-10{
    line-height: 10px;
}
.bottom22{
    bottom: 22px;
}
.abs-1{
    padding: 2px 4px;
}
.abs-3{
    position: relative;
    bottom: 18px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #0A5B47;
}
.input-form{
    padding: 20px 5%;
}
/* footer */
footer{
    background: white;
    letter-spacing: 5px;
    border-top: 1px solid gainsboro;
    text-align: center;
    height: 100px;
    overflow-y: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px 0 20px 0px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
}
.modal-body {
    padding: 2px 16px;
}
.modal-footer {
    padding: 2px 16px;
    color: white;
}
.form-responsive{
    padding: 30px 0px;
}
.abs-4{
    border: 2px solid #0A5B47;
    border-radius: 5px;
    padding: 2px;
    margin: 5px 0;
}
.abs-4 ul{
    padding: 0;
}
.input-table td{
    border: 1px solid gainsboro;
    padding: 0 10px;
    border-radius: 5px;
    text-align: center;
}
.card-expand{
    width: fit-content;
    height: fit-content;
    overflow: auto;
    margin:auto;
    background: #CB5165;
    border-radius: 5px;
    padding: 5px 25px;
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-name: animatetop;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@-webkit-keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}
@keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}

.update-input-btn{
    padding: 8px 20px;
    background: #0A5B47;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #0A5B47;
    margin: 20px 0;
}

/* loader */
#loader {
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
