.product{
	margin: auto;
	list-style: none;
	width: 80%;
	background: darkblue;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 10px;
}
.product div{
	padding: 11px 4%;
}
.product-name{
	color: lightgreen;
}
.add-to-cart{
	float: right;
}
.button{
	width: auto;
	background: darkgreen;
	height: 20px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

@media screen and (min-width: 600px) {
	
}