@media screen and (min-width: 100px) {
    /*customs*/
    .card{
        margin: 3px;
    }
}

@media screen and (min-width: 200px) {
    /*customs*/
    .card{
        width: 80px;
        height: 105px;
        margin: 13px;
    }
}

@media screen and (max-width: 300px) {
    .tab{
        max-width: 35%;
        overflow: scroll;
    }
}

@media screen and (min-width: 300px) {
    /*customs*/
    .card{
        width: 40%;
        max-width: 130px;
        height: 88px;
        margin: 4%;
    }
}

@media screen and (min-width: 400px) {
    .products {
        padding: 10px 15px 0 15px;
    }
}

@media screen and (min-width: 500px) {
    /*customs*/
    .form-responsive{
        padding: 30px 10%;
    }
}

@media screen and (min-width: 600px) {
    .side-bar{
        position: fixed;
        transform: translate(0, 0);
        flex-wrap: wrap;
    }
    body{
        display: flex;
    }
    .main{
        padding-left: 300px;
        width: auto;
        flex-grow: 1;
    }
    .days td {
        padding: 0 16px;
    }
    .top-navbar{
        height: 80px;
        margin-bottom: 85px;
    }
    .logo-name{
        font-size: 32px;
        padding: 1rem;
    }
    .container.open{
        width: 100%;
        padding: 4% 20%;
    }
    .modal{
        padding-top: 50px;
    }
}

@media screen and (min-width: 700px) {
    .logo-name{
        width: 100%;
    }
    .head span{
        position: unset;
        padding-top: 12px;
    }
    .menu-button{
        display: none;
    }
    .back-arrow{
        display: none;
    }
    .tab-position{
        padding: 5px 10% 0 10%;
    }
    .tab {
        width: auto;
        max-width: 34%;
    }
    /* custom css*/
    .side-bar{
        left: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        transition: transform 0.3s ease;
    }
    .side-bar-close{
        -webkit-transform: translate(-25vw, 0);
        transform: translate(-25vw, 0);
        transition: transform 0.3s ease;
    }
    .products{
        height: 60vh;
    }
    .days td {
        padding: 7px 42px;
    }
}

@media screen and (min-width: 900px) {
    /* customs */
    .input-form{
        padding: 20px 25%;
    }
    .form-container {
        margin: 150px 15% 0 15%;
    }
    .form-responsive{
        padding: 30px 15%;
    }
    .modal-content{
        width: 60%;
    }
    .card{
        width: 145px;
        height: 115px;
        margin: 3%;
        padding: 10px;
    }
    .input-card{
        -webkit-transition: font-size 0.5s;
        transition: font-size 0.5s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }
    .input-card:hover{
        font-size: 17px;
    }
}